.formik {
	width: 340px;
    
	background: linear-gradient(purple, darkblue);
	border-radius: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 50px;
	color: #fff;
	align-items: center;
	line-height: 50px;
    justify-content: center;
}



.title {
    color: #fff;
}


button{
	padding: 10px;
	width: 80%;
	margin: 0 auto;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(to right, orangered, orange);
	cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    
	background: linear-gradient(to right, rgb(74, 106, 0), rgb(10, 255, 31));

}

.inputs{
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
}